:root {
	--rgh-heat-color: #c24e00;

	[data-rgh-heat='1'] {
		color: var(--rgh-heat-color) !important;
	}

	[data-rgh-heat='2'] {
		color: rgba(194, 78, 0, 0.9) !important;
	}

	[data-rgh-heat='3'] {
		color: rgba(194, 78, 0, 0.8) !important;
	}

	[data-rgh-heat='4'] {
		color: rgba(194, 78, 0, 0.7) !important;
	}

	[data-rgh-heat='5'] {
		color: rgba(194, 78, 0, 0.6) !important;
	}

	[data-rgh-heat='6'] {
		color: rgba(194, 78, 0, 0.5) !important;
	}

	[data-rgh-heat='7'] {
		color: rgba(194, 78, 0, 0.4) !important;
	}

	[data-rgh-heat='8'] {
		color: rgba(194, 78, 0, 0.3) !important;
	}

	[data-rgh-heat='9'] {
		color: rgba(194, 78, 0, 0.2) !important;
	}

	[data-rgh-heat='10'] {
		color: rgba(194, 78, 0, 0) !important;
	}
}
