.rgh-fit-textareas {
	min-height: 4.5lh;
	max-height: none !important;
}

@supports (field-sizing: content) {
	.rgh-fit-textareas {
		field-sizing: content;
	}
}

:root textarea.rgh-fit-textareas.form-control {
	height: auto;
}
